@mixin listing-card {
  background-color: $white-two;
  overflow: hidden;
  padding: vr(2) vr(4);
  
  &:not(:last-child) {
    margin-bottom: vr(2);
  }
}

@mixin listing-card-title {
  @include font(search-result-title);
  margin-bottom: vr(2);
}

@mixin listing-card-link {
  @include font(search-result-link);
  display: flex;
  align-items: center;
}

@mixin listing-card-body {
  margin-bottom: vr(2);
}

@mixin listing-card-text {
  margin: 0 0 vr(2);
}