@include b(s-contact-point) {
  p {
    margin: vr(1) 0;
    margin-bottom: vr(.5);
  }

  @include only-print {
    a:after {
      content: "(" attr(href) ")";
      margin-left: .5rem;
    }
  }
}
