<% if @cms_page.related_contents.any? %>
  <div class="page__aside-section page__aside-section--last-mobile">
    <h2 class="page__aside-section-title">Related Content</h2>
    <% @cms_page.related_content_targets.order(:label).each_with_index do |related_content, i| %>
      <p class="<%= i.zero? ? "u-fix-h2-margin" : "" %>">
        <%= link_to related_content.full_path do %>
          <span class="page__aside-link"><%= related_content.label %></span>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>


