<div class="framework">
  <img class="framework__diagram" src="<%= image_path("framework.jpg") %>" alt="Framework">
  <div class="framework__title">
    <h3 class="" data-modal-trigger="identify_stakeholders">
      Identify & consult stakeholders/audience
    </h3>

    <h3 class="" data-modal-trigger="identify_management_objectives">
      Identify management objectives & targets
    </h3>

    <h3 class="" data-modal-trigger="determine_key_questions">
      Determine key questions & indicator use
    </h3>

    <h3 class="" data-modal-trigger="develop_conceptual_model">
      Develop conceptual model
    </h3>

    <h3 class="" data-modal-trigger="identify_indicators">
      Identify possible indicators
    </h3>

    <h3 class="" data-modal-trigger="gather_and_review_data">
      Gather & review data
    </h3>

    <h3 class="" data-modal-trigger="calculate_indicators">
      Calculate indicators
    </h3>

    <h3 class="" data-modal-trigger="communicate_indicators">
      Communicate & interpret indicators
    </h3>

    <h3 class="" data-modal-trigger="develop_monitoring_systems">
      Develop monitoring & reporting systems
    </h3>

    <h3 class="" data-modal-trigger="test_and_refine_indicators">
      Test & refine indicators with stakeholders
    </h3>
  </div>
</div>
