@include b(resources) {
  @include e(browse) {
    margin-bottom: vr(4);
  }

  @include e(body) {
    width: $main__width;
    @include outer-container;
    margin-bottom: vr(10);
  
    @include only-mobile {
      width: 100%;
    }
  }

  @include e(filters) {
    @include only-desktop {
      @include span-columns(4);
      padding-right: vr(2.75);
      border-right: solid 1px $border--title;
    }

  }

  @include e(results) {
    @include span-columns(8);

    @include only-mobile {
      @include span-columns(12);
    }
  }
}
