<% if @cms_page.disaggregations.any? %>
  <div class="page__aside-section">
    <h2 class="page__aside-section-title">Indicator disaggregations</h2>
    <% @cms_page.disaggregation_targets.each_with_index do |target, i| %>
      <p class="<%= i.zero? ? "u-fix-h2-margin" : "" %>">
        <%= link_to target.full_path do %>
          <span class="page__aside-link"><%= target.label %></span>
        <% end %>
      </p>
      </a>
    <% end %>
  </div>
<% end %>

