<% if @cms_page.partners.any? %>
  <div class="page__aside-section">
    <h2 class="page__aside-section-title">Partners</h2>

    <% @cms_page.partners.each_with_index do |partner, i| %>
      <table class="<%= i.zero? ? "u-fix-h2-margin" : "" %> partners__partner">
        <tr>
          <td class="partners__image">
            <%= image_tag partner.logo.url(:thumb) %>
          </td>
          <td>
            <p class="partners__name"><%= partner.name %></p>
            <%= link_to partner.url, target: "_blank" do %>
              <p class="partners__link page__aside-link">View website ></p>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>

  </div>
<% end %>

