<div class="browse">
  <h2 class="browse__title">Browse global indicators</h2>

  <button class="browse__category is-selected">Aichi Targets</button>
  <button class="browse__category">SDGs</button>
  <button class="browse__category">MEAs</button>
  <button class="browse__category">Themes</button>
</div>

