<div class="search">
  <h2 class="search__title">Search global indicators under the BIP</h2>
  <div class="u-relative u-clearfix">
    <form action="/search" method="GET">
      <input type="text" name="q" placeholder="Search" class="search__bar"></input>
      <button type="submit">
        <i class="fa fa-search search__bar-icon"></i>
      </button>
    </form>
  </div>
</div>
