<div class="search">
  <h2 class="search__title">Search global indicators</h2>
  <div class="u-relative u-clearfix">
    <input placeholder="Search" class="search__bar"></input>
    <i class="fa fa-search search__bar-icon"></i>
  </div>
</div>
