<% if @cms_page.themes.any? %>
  <h2 class="page__section-title page__section-title--smaller-mobile">
    Themes
  </h2>

  <div class="u-only-desktop theme__container">
    <% sorted_themes = @cms_page.themes.sort_by(&:name) %>

    <% sorted_themes.each do |theme| %>
      <div class="theme">
        <div class="theme__image"><%= image_tag theme.logo.url(:thumb) %></div>
        <div>
          <h4 class="theme__title"><%= theme.name %></h4>
          <a class="theme__link" href="#">View related indicators ></a>
        </div>
      </div>
    <% end %>
  </div>

  <div class="u-clearfix u-only-mobile">
    <% @cms_page.themes.each do |theme| %>
      <div class="target__image">
        <%= image_tag theme.logo.try(:url, :thumb) %>
      </div>
    <% end %>
  </div>
<% end %>

