html {
  @include typi-base();
  font-family: Open Sans;
  -webkit-font-smoothing: antialiased;
}

h1 { @include text(xxlarge, bold); }
h2 { @include text(xlarge, bold); }
h3, h4, h5, h6 { @include text(large, bold); }

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

a {
  @include font(link);
  text-decoration: none;

  &:hover {
    color: $text--link;
    text-decoration: underline;
  }
}

p {
  margin: vr(2) 0;
  @include font(body);
}

strong {
  font-weight: 700;
}
