$break__phone: 768px;

@mixin only-mobile {
  @media (max-width: $break__phone) {
    @content;
  }
}

@mixin only-desktop {
  @media (min-width: $break__phone) {
    @content;
  }
}

@mixin only-screen {
  @media screen {
    @content;
  }
}

@mixin only-print {
  @media print {
    @content;
  }
}

@mixin mobile-container {
  @include only-mobile {
    width: 100%;
    padding: {
      left: vr(1.75);
      right: vr(1.75)
    }
  }
}
