.u-relative { position: relative; }
.u-pull-left { float: left; }
.u-pull-right { float: right; }

.u-no-margin-bottom { margin-bottom: 0; }
.u-no-margin-top    { margin-top: 0; }

.u-clearfix { overflow: hidden; }
.u-fix-h2-margin { margin-top: 1.375rem; }

.u-font-inherit { font: inherit; color: inherit; }

.u-no-underline { 
  text-decoration: none;

  &:hover { text-decoration: none; }
}

.u-noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.u-half {
  @include span-columns(6);
}

.u-only-desktop { @include only-mobile  { display: none } }
.u-only-mobile  { @include only-desktop { display: none } }
.u-only-print   { @include only-screen  { display: none } }
.u-hide-print   { @include only-print   { display: none } }

.u-page-break {
  @include only-print {
    display: block;
    page-break-after: always;
  }
  @include only-screen {
    display: none;
  }
}


.u-hide { display: none; }

.u-stretch-flex {
  @include flexbox;
  @include justify-content(stretch);
}
