@include b(main) {
  @include mobile-container;

  width: $main__width;
  margin: auto;

  @include only-print {
    width: 100%;
  }

  @include m(full-width) {
    width: 100%;
  }

  @include m(pull-up) {
    margin-top: vr(-1.75);
    @include only-mobile { padding: 0; }
  }
}
