<% content_for :right_column do %>
  <%= render 'comfy/admin/cms/sites/mirrors' %>
<% end %>
<div id="cms-uploader">
  <div id="cms-uploader-drag-drop-target"></div>
  <div class="page-header">
    <h2>Tags</h2>
  </div>
  <%= comfy_paginate @tags %>
  <ul class="list sortable">
    <%= render :partial => 'tag', :collection => @tags %>
  </ul>
  <%= comfy_paginate @tags %>
</div>
