<div class="browse">
  <div class="browse__tabs">
    <ul class="browse__tabs-items">
      <li class="browse__tabs-item">
        <button
          data-select-group="browse"
          data-select-trigger="aichi-targets"
          class="browse__tab"
        >
          Aichi Targets
        </button>
        <button
          data-select-group="browse"
          data-select-trigger="sdgs"
          class="browse__tab is-selected"
        >
          SDGs
        </button>
        <button
          data-select-group="browse"
          data-select-trigger="meas"
          class="browse__tab"
        >
          MEAs
        </button>
        <button
          data-select-group="browse"
          data-select-trigger="themes"
          class="browse__tab"
        >
          Themes
        </button>
        <button
          data-select-group="browse"
          data-select-trigger="indicators"
          class="browse__tab"
        >
          National Indicators
        </button>
</div>
