<div class="browse">
  <div class="browse__tabs">
    <ul class="browse__tabs-items">
      <% homepage_tabs.each_with_index do |tab, n| %>
        <li class="browse__tabs-item">
          <button
            data-select-group="browse"
            data-select-trigger="<%= tab[:id] %>"
            class="browse__tab <%= 'is-selected' if n.zero? %>"
          >
            <%= tab[:name] %>
          </button>
        </li>
      <% end %>
    </ul>
  </div>
</div>
