<div class="browse">
  <h2 class="browse__title">Browse global indicators under the BIP</h2>

  <button data-select-group="browse" data-select-trigger="aichi-targets" class="browse__category is-selected">Aichi Targets</button>
  <button data-select-group="browse" data-select-trigger="sdgs" class="browse__category">SDGs</button>
  <button data-select-group="browse" data-select-trigger="meas" class="browse__category">MEAs</button>
  <button data-select-group="browse" data-select-trigger="themes" class="browse__category">Themes</button>
  <button data-select-group="browse" data-select-trigger="indicators" class="browse__category">Indicators</button>
</div>

