<div class="home-hero">
  <div class="home-hero__container">
    <div class="home-hero__content">
      <h2 class="home-hero__title">
        The Biodiversity<br/>Indicators Partnership
      </h2>
      <div class="home-hero__text">
        <%= cms_block_content(:hero_text).html_safe %>
      </div>
      <div class="home-hero__search-container">
        <div class="home-hero__search">
          <div class="u-relative u-clearfix">
            <form
              action="/search"
              method="GET"
            >
              <input
                type="text"
                name="q"
                placeholder="Search indicators under the BIP"
                class="home-hero__search-bar"
              ></input>
              <button type="submit">
                <i class="fa fa-search home-hero__search-bar-icon"></i>
              </button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
