<div class="home-hero">
  <div class="home-hero__container">
    <div class="home-hero__content">
      <h1 class="home-hero__title">
        <%= cms_block_content(:hero_title).html_safe %>
      </h1>
      <div class="home-hero__text">
        <%= cms_block_content(:hero_text).html_safe %>
      </div>
      <div class="home-hero__search-container">
        <div class="home-hero__search">
          <form
            action="/search"
            method="GET"
          >
            <input
              type="text"
              name="q"
              placeholder="Search Indicators under the BIP"
              class="home-hero__search-bar"
            ></input>
            <button
              type="submit"
              class="home-hero__search-bar-submit"
            >
              <i class="fa fa-search home-hero__search-bar-icon"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
