<% indicators = Comfy::Cms::Page.find_by_slug("indicators").children.where(applicable_for_national_use: true) %>
<% all_indicators = [] %>
<% all_indicators << indicators.each {|indicator| all_indicators << indicator.children } %>
<% all_indicators.flatten! %>

<div data-select-group="browse" data-select-target="indicators">
  <div class="targets-browse">
    <div class="targets-browse__goals-container">
    </div>
  </div>

  <div data-select-group="browse" data-select-target="indicators" class="homepage-targets">
    <div class="homepage-targets__goal">
      <h4 class="homepage-targets__goal-title">National Indicators</h4>
      <div class="homepage-targets__goal-description">
        <p>
          Browse global indicators that have data available by country. Countries have been classified 
          according to the UN Environment Regions.
        </p>
        <p>
          Visit the links below to find a list of indicators that have data available by country. More information on the indicator suitability, data, methods involved, 
          and examples of national use can be found on the 'National use of indicator' section of each indicator page.
        </p>
      </div>
     <i class="homepage-themes__theme-indicator-icon fa fa-chevron-right"></i> <a href="/national-indicator-development/national-data/africa">Africa</a>
     <i class="homepage-themes__theme-indicator-icon fa fa-chevron-right"></i> <a href="/national-indicator-development/national-data/asia-pacific">Asia & Pacific </a>
     <i class="homepage-themes__theme-indicator-icon fa fa-chevron-right"></i> <a href="/national-indicator-development/national-data/europe">Europe</a>
     <i class="homepage-themes__theme-indicator-icon fa fa-chevron-right"></i> <a href="/national-indicator-development/national-data/latin-america-caribbean">Latin America & Caribbean </a>
     <i class="homepage-themes__theme-indicator-icon fa fa-chevron-right"></i> <a href="/national-indicator-development/national-data/north-america">North America</a>
     <i class="homepage-themes__theme-indicator-icon fa fa-chevron-right"></i> <a href="/national-indicator-development/national-data/polar">Polar</a>
     <i class="homepage-themes__theme-indicator-icon fa fa-chevron-right"></i> <a href="/national-indicator-development/national-data/west-asia">West Asia</a>
    </div>
  </div>
</div>
