<% indicators = Comfy::Cms::Page.find_by_slug("indicators").children.where(applicable_for_national_use: true) %>
<% all_indicators = [] %>
<% all_indicators << indicators.each {|indicator| all_indicators << indicator.children } %>
<% all_indicators.flatten! %>

<div
  data-select-group="browse"
  data-select-target="indicators"
  class="themes-browse"
>
  <div class="themes-browse__header">
    <h3 class="themes-browse__title">
      National Indicators
    </h3>
  </div>
  <div class="themes-browse__body">
    <div class="homepage-targets">
      <div class="homepage-targets__card">
        <div class="homepage-targets__card-description">
          <p>
            Browse global indicators that have data available by country. Countries have been classified according to the UN Environment Regions.
          </p>
          <p>
            Visit the links below to find a list of indicators that have data available by country. More information on the indicator suitability, data, methods involved, and examples of national use can be found on the 'National use of indicator' section of each indicator page.
          </p>
        </div>
        <ul class="homepage-targets__card-indicator-items">
          <% national_indicators.each do |indicator| %>
            <li class="homepage-targets__card-indicator-item">
              <a
                href="<%= indicator[:href] %>"
                title="<%= indicator[:title] %>"
                class="homepage-targets__target-indicator"
              >
                <%= indicator[:name] %><i class="homepage-targets__card-indicator-icon fa fa-arrow-right"></i>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
