<div class="homepage-join-bip">
  <h2 class="homepage-join-bip__title">
    Join BIP Partnership
  </h2>
  
  <p class="homepage-join-bip__text">
    All potential Partners are welcome to apply to join the BIP
  </p>

  <a 
    class="homepage-join-bip__learn-more-link"
    href="/about/join-the-bip"
  >
    Learn More
  </a>
</div>