<form action="https://bipindicators.us4.list-manage.com/subscribe/post?u=8115ca356674dc99396860438&id=367c0f1ed8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
	<h1 class="home-hero__title">
		<%= cms_block_content(:newsletter_title).html_safe %>
	</h1>
	<div class="home-hero__text">
		<%= cms_block_content(:newsletter_text).html_safe %>
	</div>
	<p class="mc-field-group">
		<input placeholder="Enter Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		<input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button optionalParent">
	</p>
</form>
