<div class="newsletter-bar">
	<div class="newsletter-bar__container">
		<h1 class="newsletter-bar__title">
			<%= cms_block_content(:newsletter_title).html_safe %>
		</h1>
		<div class="newsletter-bar__text">
			<%= cms_block_content(:newsletter_text).html_safe %>
		</div>
		<form
			action="https://bipindicators.us4.list-manage.com/subscribe/post?u=8115ca356674dc99396860438&id=367c0f1ed8"
			method="post"
			id="mc-embedded-subscribe-form"
			name="mc-embedded-subscribe-form"
			target="_blank"
			novalidate=""
			class="newsletter-bar__form validate"
		>
			<div class="newsletter-bar__form-group mc-field-group">
				<input
					placeholder="Enter Email Address"
					type="email"
					value=""
					name="EMAIL"
					id="mce-EMAIL"
					class="newsletter-bar__input required email"
				>
				<input
					type="submit"
					value="Submit"
					name="subscribe"
					id="mc-embedded-subscribe"
					class="newsletter-bar__submit button optionalParent"
				>
			</div>
		</form>
	</div>
</div>
