$solitude: #E6EDEF;
$tangaroa: #1D2E36;
$scooter: #25BCCA;
$white: #FFFFFF;

$border--footer: #E6EDEF;
$border--search-bar: #A4B3B7;
$border--title: #D6E1E4;
$border--targets: #979797;

$text--base: #1C2E36;
$text--link: #1A9DAE;
$text--menu: #0E687A;
