$solitude: #E6EDEF;
$tangaroa: #1D2E36;
$scooter: #25BCCA;
$teal: #4A9CAC;
$white: #FFFFFF;
$navy-blue: #001251;
$ocean-blue: #0663ad;
$prussian-blue: #004f77;
$dark: #1c2e36;
$white-two: #f2f2f2;
$pinkish-grey: #c1c1c1;

$border--checkbox: #113455;
$border--footer: $navy-blue;
$border--search-bar: #A4B3B7;
$border--title: #D6E1E4;
$border--targets: #979797;

$text--base: #1C2E36;
$text--link: #1A9DAE;
$text--menu: #0E687A;
$text--navigation: #0E687A;
