@import url('https://fonts.googleapis.com/css?family=Merriweather:900|Open+Sans:300,400,600');

$font-book: (
  link: (
    font-family: Open Sans,
    font-size: 1rem,
    font-weight: bold,
    color: $prussian-blue,
  ),
  footer-title-big: (
    font-family: Merriweather,
    font-size: 1.25rem,
    font-weight: 900,
    line-height: 1.5,
    color: $white
  ),
  footer-title: (
    font-family: Merriweather,
    font-size: 1rem,
    font-weight: 900,
    line-height: 1.5,
    color: $white
  ),
  footer-body: (
    font-family: Open Sans,
    font-size: .875rem,
    line-height: 1.7,
    color: $white
  ),
  footer-top: (
    font-family: Open Sans,
    font-size: 1rem,
    font-weight: 600,
    line-height: 1.5,
    color: $white
  ),
  breadcrumb: (
    font-family: Open Sans,
    font-size: .875rem,
    font-weight: 600,
    line-height: 1.7,
    color: $white
  ),
  breadcrumb--link: (
    font-family: Open Sans,
    font-size: .875rem,
    font-weight: bold,
    font-style: italic,
    text-decoration: underline,
    line-height: 1.7,
    color: $white
  ),
  page-title: (
    font-family: Merriweather,
    font-size: 1.75rem,
    font-weight: 900,
    line-height: 1.3,
    color: $white
  ),
  section-title: (
    font-family: Merriweather,
    font-size: 1.375rem,
    font-weight: 900,
    line-height: 1.5,
    color: $prussian-blue
  ),
  body: (
    font-family: Open Sans,
    font-size: .875rem,
    line-height: 1.6,
    color: $dark
  ),
  aside-section-title: (
    font-family: Merriweather,
    font-size: 1.375rem,
    font-weight: 900,
    line-height: 1.5,
    color: $navy-blue
  ),
  fact-subtitle: (
    font-family: Open Sans,
    font-size: 1rem,
    font-weight: bold,
    line-height: 1.6,
    color: $dark
  ),
  fact-value: (
    font-family: Open Sans,
    font-size: 1rem,
    line-height: 1.5,
    color: $dark
  ),
  italic-link: (
    font-family: Open Sans,
    font-size: 1rem,
    font-weight: bold,
    font-style: italic,
    line-height: 1.5,
    color: $prussian-blue
  ),
  partner-name: (
    font-family: Merriweather,
    font-size: 1rem,
    font-weight: bold,
    line-height: 1.6,
    color: $dark
  ),
  subsection-title: (
    font-family: Open Sans,
    font-size: 1.25rem,
    font-weight: 300,
    line-height: 1.4,
    color: $dark
  ),
  copyright: (
    font-family: Helvetica,
    font-size: .875rem,
    line-height: 1.4,
    color: $white
  ),
  social: (
    font-family: Helvetica,
    font-size: 1rem,
    line-height: 1.4,
    color: $white
  ),
  search-result-title: (
    font-family: Open Sans,
    font-size: 1.25rem,
    font-weight: 500,
    line-height: 1.5,
    color: $prussian-blue
  )
);

@mixin text($a, $b: normal) { }

@mixin font($name) {
  @each $property, $value in map-get($font-book, $name) {
    #{$property}: #{$value};
  }
}
