<footer class="footer">
  <div class="footer__content">
    <div class="footer__columns u-clearfix">
      <div class="footer__column footer__column--small">
        <a class="footer__logo" href="/"></a>
      </div>
      <div class="footer__border-left">
        <div class="footer__column footer__column--large">
          <p class="footer__column-body footer__column-body--reduced-bottom-margin footer__column-body--no-margin">
            In partnership with:
          </p>
          <div class="footer__partners-logos footer__column-body--reduced-bottom-margin">
            <a class="u-font-inherit footer__copyright-link" href="https://www.unep-wcmc.org">
              <%= image_tag 'https://s3.amazonaws.com/wcmc.logo/UNEP_WCMC_logo_white.svg', alt: 'UN Environment World Conservation Monitoring Centre logo', class: 'footer__partners-logo-wcmc' %>
            </a>
            <%= link_to 'https://ec.europa.eu/commission/index_en', title: 'Visit the European Commission website', target: '_blank', class: 'u-no-underline' do %>
              <%= image_tag 'EuropeanCommissionLogo.svg', alt: 'European Commission logo', class: 'footer__partners-logo-ec' %>
            <% end %>
          </div>
          <p class="footer__column-body footer__column-body--no-bottom-margin">
            The BIP secretariat is hosted by the UN Environment World Conservation Monitoring Centre in Cambridge, UK. Please do not hesitate to contact our global helpdesk regarding the Biodiversity Indicators Partnership, global indicators or national support.
          </p>
        </div>
      </div>
      <div class="footer__column footer__column--large">
        <h3 class="footer__column-title"></i>Address</h3>
        <p class="footer__column-body footer__column-body--no-margin">
          UN Environment World Conservation Monitoring Centre<br>
          219 Huntingdon Road<br>
          Cambridge<br>
          CB3 0DL<br>
          UK
        </p>
      </div>
      <div class="footer__column footer__column--small">
        <h3 class="footer__column-title"></i>Email</h3>
        <a class="footer__column-body footer__column-body--no-margin" href="mailto:info@bipindicators.net">
          info@bipindicators.net
        </a>

        <div class="u-only-mobile">
          <h3 class="footer__column-title footer__column-title--push-top"><i class="fa fa-twitter icon--left"></i>Twitter</h3>
          <a class="footer__social" href="https://twitter.com/BIPIndicators">
            @bipindicators
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="footer__copyright-inner">
      <a class="footer__copyright-font" href="https://www.unep-wcmc.org">
        &#169; 2022 UNEP WCMC
      </a>
      <div class="footer__copyright-inner--margin-left-right">
        |
      </div>
      <a class="footer__copyright-font" href="https://www.unep-wcmc.org">
        Terms & Conditions
      </a>
    </div>
  </div>
</footer>