<footer class="footer">
  <div class="footer__body">
    <div class="footer__inner">
      <div class="footer__items">
        <div class="footer__item">
          <div class="footer__columns">
            <div class="footer__column footer__column--bip-logo">
              <a
                href="/"
                class="footer__logo-link"
              >
                <%=
                  image_tag 'bip-logo-white.png',
                  alt: 'Biodiversity Indicators Partnership logo',
                  class: 'footer__logo'
                %>
              </a>
            </div>
            <div class="footer__column">
              <h3 class="footer__title footer__title--small">
                In partnership with:
              </h3>
              <div class="footer__partners">
                <ul class="footer__partners-items">
                  <li class="footer__partners-item">
                    <%=
                      image_tag 'https://s3.amazonaws.com/wcmc.logo/UNEP_WCMC_logo_white.svg',
                      alt: 'UN Environment World Conservation Monitoring Centre logo',
                      class: 'footer__partners-logo footer__partners-logo--wcmc'
                    %>
                  </li>
                  <li class="footer__partners-item">
                    <%=
                      image_tag 'european-commission-logo.png',
                      alt: 'European Commission logo',
                      class: 'footer__partners-logo footer__partners-logo--ec'
                    %>
                  </li>
                </ul>
              </div>
              <p class="footer__text">
                The BIP Secretariat is hosted by the UN Environment World Conservation Monitoring Centre in Cambridge, UK. Please do not hesitate to contact our <a class="footer__text-link" href="mailto:info@bipindicators.net">helpdesk</a> regarding the Biodiversity Indicators Partnership, global indicators or national support.
              </p>
            </div>
          </div>
        </div>
        <div class="footer__item">
          <div class="footer__columns">
            <div class="footer__column">
              <h3 class="footer__title">
                Address
              </h3>
              <p class="footer__text footer__text--no-wrap">
                UN Environment Programme<br/>
                World Conservation Monitoring Centre<br/>
                219 Huntingdon Road<br/>
                Cambridge<br/>
                CB3 0DL<br/>
                United Kingdom
              </p>
            </div>
            <div class="footer__column">
              <h3 class="footer__title">
                Email
              </h3>
              <a class="footer__link" href="mailto:info@bipindicators.net">
                info@bipindicators.net
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__footer">
    <div class="footer__inner">
      <div class="footer__copyright">
        <div class="footer__copyright-items">
          <div class="footer__copyright-item">
            <a
              href="https://www.unep-wcmc.org"
              class="footer__copyright-link"
            >
              &copy; <%= Date.today.year %> UNEP-WCMC
            </a>
          </div>
          <div class="footer__copyright-item">
            <a
              href="/terms-and-conditions"
              class="footer__copyright-link"
            >
              Terms &amp; Conditions
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
