<% (@results || []).each do |result| %>
  <div class="search-page__result">
    <div class="search-page__result-container">
      <a href="<%= result_url(result) %>">
        <h2 class="search-page__result-title">
          <%= result_label(result) %>
        </h2>
      </a>

      <%= search_result(result, params[:q]) %>

      <%= render partial: "attachment", locals: {result: result} %>
    </div>
  </div>
<% end %>
