<div data-extra-fields="Resource">
  <%= render partial: "comfy/admin/cms/partials/extra_fields/resource", locals: {form: form} %>
</div>

<div data-extra-fields="Generic page">
  <%= render partial: "comfy/admin/cms/partials/extra_fields/generic_page", locals: {form: form} %>
</div>

<div data-extra-fields="Indicator initiative">
  <%= render partial: "comfy/admin/cms/partials/extra_fields/indicator_initiative", locals: {form: form} %>
</div>

<div data-extra-fields="Indicator page">
  <%= render partial: "comfy/admin/cms/partials/extra_fields/indicator_page", locals: {form: form} %>
</div>
