{{ cms:partial:cms/title }}

<div class="page">
  <div class="page__body">
    <h2 class="page__section-title">Indicator description</h2>
    <p>{{ cms:page:description:rich_text }}</p>

    {{ cms:partial:cms/aichi_targets }}
    {{ cms:partial:cms/sdg_targets }}
    {{ cms:partial:cms/mea_targets }}
    {{ cms:partial:cms/themes }}

    <h2 class="page__section-title page__section-title--subtle-border">
      Graphs / Diagrams
      <span data-toggle-trigger="graphs-and-diagrams" class="page__section-toggle u-noselect">
        Expand<i data-toggle-switch="graphs-and-diagrams" class="icon--right fa fa-chevron-down"></i>
      </span>
    </h2>
    <div data-toggle-hide data-toggle-target="graphs-and-diagrams">{{ cms:page:graphs_and_diagrams:rich_text }}</div>

    <h2 class="page__section-title page__section-title--subtle-border">
      Current storyline
      <span data-toggle-trigger="current-storyline" class="page__section-toggle u-noselect">
        Expand<i data-toggle-switch="current-storyline" class="icon--right fa fa-chevron-down"></i>
      </span>
    </h2>
    <div data-toggle-hide data-toggle-target="current-storyline">{{ cms:page:current_storyline:rich_text }}</div>

    <h2 class="page__section-title page__section-title--subtle-border">
      Data and methodology
      <span data-toggle-trigger="data-and-methodology" class="page__section-toggle u-noselect">
        Expand<i data-toggle-switch="data-and-methodology" class="icon--right fa fa-chevron-down"></i>
      </span>
    </h2>
    <p data-toggle-hide data-toggle-target="data-and-methodology">{{ cms:page:data_and_methodology:rich_text }}</p>

    <h2 class="page__section-title page__section-title--subtle-border">
      National use of indicator
      <span data-toggle-trigger="national-use" class="page__section-toggle u-noselect">
        Expand<i data-toggle-switch="national-use" class="icon--right fa fa-chevron-down"></i>
      </span>
    </h2>
    <p data-toggle-hide data-toggle-target="national-use">{{ cms:page:national_use_of_indicator:rich_text }}</p>
  </div>

  <div class="page__aside">
    {{ cms:partial:cms/key_facts }}
    {{ cms:partial:cms/partners }}

    <div class="page__aside-section">
      <h2 class="page__aside-section-title">Contact point</h2>
      <div class="s-contact-point u-fix-h2-margin">{{ cms:page:contact_point:rich_text }}</div>
    </div>

    {{ cms:partial:cms/disaggregations }}
    {{ cms:partial:cms/resources }}
  </div>
</div>
