<main class="main">
  {{ cms:partial:cms/indicator_page/title }}

  <div class="page">
    <div class="u-only-print page__aside">
      {{ cms:partial:cms/indicator_page/key_facts }}
      {{ cms:partial:cms/indicator_page/partners }}

      <div class="page__aside-section">
        <h2 class="page__aside-section-title">Contact point</h2>
        <div class="s-contact-point s-free-text u-fix-h2-margin">{{ cms:page:contact_point:rich_text }}</div>
      </div>

      {{ cms:partial:cms/indicator_page/disaggregations }}
      {{ cms:partial:cms/indicator_page/resources }}
    </div>

    <div class="page__body">
      <div class="page__section u-only-desktop">
        <h2 class="page__section-title">Indicator description</h2>
        <div class="s-free-text">{{ cms:page:description:rich_text }}</div>
      </div>

      <div class="target__container">
        <!-- <div class="page__section">
          {{ cms:partial:cms/indicator_page/aichi_targets }}
        </div> -->
        <div class="page__section">
          {{ cms:partial:cms/indicator_page/sdg_targets }}
        </div>
        <div class="page__section">
          {{ cms:partial:cms/indicator_page/mea_targets }}
        </div>
        <div class="page__section">
          {{ cms:partial:cms/indicator_page/themes }}
        </div>
        <div class="u-only-mobile">
          {{ cms:partial:cms/indicator_page/mobile_partners }}
        </div>
      </div>

      <div class="u-only-mobile">
        {{ cms:partial:cms/indicator_page/key_facts }}

        <h2 class="page__section-title">Indicator description</h2>
        <div class="s-free-text">{{ cms:page:description:rich_text }}</div>

        <div class="page__aside-section">
          <h2 class="page__aside-section-title">Contact point</h2>
          <div class="s-free-text s-contact-point u-fix-h2-margin">{{ cms:page:contact_point:rich_text }}</div>
        </div>
      </div>

      <h2 class="page__section-title page__section-title--subtle-border page__section-title--with-padding-mobile">
        Graphs / Diagrams
        <span data-toggle-trigger="graphs-and-diagrams" data-toggle-text-closed="Expand" class="u-hide-print page__section-toggle u-noselect">
          <span class="u-only-desktop"></span><i data-toggle-switch="graphs-and-diagrams" class="icon--right fa fa-chevron-up"></i>
        </span>
      </h2>
      <div class="s-free-text" data-toggle-hide data-toggle-target="graphs-and-diagrams">{{ cms:page:graphs_and_diagrams:rich_text }}</div>

      <h2 class="page__section-title page__section-title--subtle-border page__section-title--with-padding-mobile">
        Current storyline
        <span data-toggle-trigger="current-storyline" data-toggle-text-closed="Expand" class="u-hide-print page__section-toggle u-noselect">
          <span class="u-only-desktop"></span><i data-toggle-switch="current-storyline"  class="icon--right fa fa-chevron-up"></i>
        </span>
      </h2>
      <div class="s-free-text" data-toggle-hide data-toggle-target="current-storyline">{{ cms:page:current_storyline:rich_text }}</div>

      <h2 class="page__section-title page__section-title--subtle-border page__section-title--with-padding-mobile">
        Data and methodology
        <span data-toggle-trigger="data-and-methodology" data-toggle-text-closed="Expand" class="u-hide-print page__section-toggle u-noselect">
          <span class="u-only-desktop"></span><i data-toggle-switch="data-and-methodology"  class="icon--right fa fa-chevron-up"></i>
        </span>
      </h2>
      <div class="s-free-text" data-toggle-hide data-toggle-target="data-and-methodology">{{ cms:page:data_and_methodology:rich_text }}</div>

      <h2 class="page__section-title page__section-title--subtle-border page__section-title--with-padding-mobile">
        <a name="national_use"></a>
        National use of indicator
        <span data-toggle-trigger="national-use" data-toggle-text-closed="Expand" class="u-hide-print page__section-toggle u-noselect">
          <span class="u-only-desktop"></span><i data-toggle-switch="national-use" class="icon--right fa fa-chevron-up"></i>
        </span>
      </h2>
      <div class="s-free-text" data-toggle-hide data-toggle-target="national-use">{{ cms:page:national_use_of_indicator:rich_text }}</div>

      <h2 class="page__section-title page__section-title--subtle-border page__section-title--with-padding-mobile">
        Further resources
        <span data-toggle-trigger="further-resources" data-toggle-text-closed="Expand" class="u-hide-print page__section-toggle u-noselect">
          <span class="u-only-desktop"></span><i data-toggle-switch="further-resources" class="icon--right fa fa-chevron-up"></i>
        </span>
      </h2>
      <div class="s-free-text" data-toggle-hide data-toggle-target="further-resources">{{ cms:partial:cms/indicator_page/further_resources }}</div>
    </div>

    <div class="u-hide-print u-only-desktop page__aside">
      {{ cms:partial:cms/indicator_page/key_facts }}
      {{ cms:partial:cms/indicator_page/partners }}

      <div class="page__aside-section">
        <h2 class="page__aside-section-title">Contact point</h2>
        <div class="s-contact-point s-free-text u-fix-h2-margin">{{ cms:page:contact_point:rich_text }}</div>
      </div>

      {{ cms:partial:cms/indicator_page/disaggregations }}
      {{ cms:partial:cms/indicator_page/resources }}
    </div>
  </div>
</main>
