@include b(breadcrumbs) {
  padding-top: vr(1.5);
  @include mobile-container;

  @include e(divider) {
    color: $white;
    line-height: vr(1);
    font-size: 1.3rem;
    text-align: center;
    width: vr(2);
  }

  @include e(element) {
    color: $white;
    @include font(breadcrumb);

    @include m(link) {
      @include font(breadcrumb--link);
    }
  }
}
