@include b(breadcrumbs) {
  padding: vr(1.5) 0;
  @include mobile-container;

  @include e(divider) {
    text-align: center;
    width: vr(3);
    line-height: vr(2);
    color: $text--link;
  }

  @include e(element) {
    color: $text--link;
    font-weight: 500;

    @include m(link) {
      text-decoration: underline;
    }
  }
}
