@include b(breadcrumbs) {
  padding-top: vr(1.5);
  @include mobile-container;

  @include e(divider) {
    text-align: center;
    width: vr(3);
    line-height: vr(2);
    color: $white;
  }

  @include e(element) {
    color: $white;
    @include font(breadcrumb);

    @include m(link) {
      @include font(breadcrumb--link);
    }
  }
}
