@include b(browse) {
  background-color: $prussian-blue;

  @include e(tabs) {
    @include outer-container;
    width: $main__width;

    @include only-mobile {
      width: 87%;
    }
  }

  @include e(tabs-items) {
    @include list;
  }

  @include e(tabs-item) {
    @include list-item--row(0);
    display: inline-block;
  }

  @include e(tab) {
    appearance: none;
    border: 0;
    color: $white;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.4;
    padding: 0.90625rem 3rem;

    @include only-mobile {
      font-size: 0.75rem;
      padding: 0.5625rem 0.75rem;
    }

    &.is-selected {
      background-color: $white;
      color: $black;
    }
  }
}
