@include b(browse) {
  @include outer-container;
  padding-top: vr(.75);
  width: $main__width;

  @include only-mobile {
    width: 87%;
    border-bottom: none;
  }

  @include e(title) {
    margin: vr(1.1666666) 0;
    font-family: Merriweather;
    color: $navy-blue;
  }

  @include e(category) {
    float: left;
    padding: vr(.75) vr(2.5);
    margin: 0;
    font-size: vr(1.1666666);
    font-weight: 500;
    line-height: vr(1.5);
    background-color: initial;
    border: none;
    cursor: pointer;
    margin-bottom: -1px;

    @include only-mobile {
      padding: vr(.75) vr(1);
      font-size: vr(1);
    }

    &.is-selected {
      font-weight: 700;
      background-color: $white;
      border: solid 1px $border--search-bar;
      border-bottom: solid 1px $white;
    }
  }
}
