@include b(fact) {
  @include e(subtitle) {
    @include font(fact-subtitle);
  }

  @include e(value) {
    @include font(fact-value);
    margin: 0;
    margin-bottom: vr(1);

    &--no-margin-bottom {
      margin-bottom: 0;
    }

    a { @include font(italic-link); }
  }

  @include e(free-text) {
    margin-bottom: vr(1);
  }
}
