@include b(filters) {
  @include e(title) {
    @include font(filter-title);
    margin-bottom: vr(2.5);
  }


  @include e(bucket) {
    padding: vr(1) 0;
  }

  @include e(bucket-name) {
    @include font(filter-label);
    margin: vr(1) 0 0;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include e(bucket-toggle) {
    float: right;
  }

  @include e(bucket-item) {
    @include flexbox;
    @include align-items(center);
    cursor: pointer;
    margin-bottom: vr(2);

    &:last-child {
      margin-bottom: 0;
    }

    .search-page__filters & {
      margin-bottom: vr(1.5);
    }
  }

  @include e(bucket-item-title) {
    @include font(filter-label);

    .search-page__filters & {
      @include font(filter-label-small);
    }
  }

  @include e(bucket-item-toggle) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include flex-shrink(0);
    border: solid 2px $border--checkbox;
    margin-right: vr(2);
    width: 2.25rem;
    height: 2.25rem;

    .search-page__filters & {
      border-width: 1px;
      margin-right: vr(1);
      width: 1.5rem;
      height: 1.5rem;
    }

    &.is-selected {
      &:before {
        @include fa-icon;
        content: '\f00c';
        font-size: 1.5rem;
        vertical-align: super;

        .search-page__filters & {
          font-size: 1rem;
        }
      }
    }
  }
}
