@include b(filters) {
  @include e(title) {
    @include font(filter-title);
    margin-bottom: vr(2);
  }

  @include e(search-wrapper) {
    margin-bottom: vr(2.5)
  }

  @include e(search) {
    @include search;
  }

  @include e(search-bar) {
    @include search-bar-dark;
  }

  @include e(search-bar-icon) {
    @include search-bar-icon;
    color: #000;
  }

  @include e(group-list) {
    @include list;
  }

  @include e(group-item) {
    @include list-item (vr(1));
  }

  @include e(group-trigger) {
    @include font(filter-label);
    cursor: pointer;
    margin-bottom: vr(1);
    text-align: left;
    width: 100%;
  }

  @include e(group-toggle) {
    float: right;
  }

  @include e(list) {
    @include list;
  }

  @include e(list-item) {
    @include list-item;

    .search-page__filters & {
      @include list-item(vr(1.5));
    }
  }

  @include e(filter) {
    @include link-reset;
    @include flexbox;
    @include align-items(center);
    cursor: pointer;
  }

  @include e(filter-title) {
    @include font(filter-label);

    .search-page__filters & {
      @include font(filter-label-small);
    }
  }

  @include e(filter-toggle) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include flex-shrink(0);
    border: solid 0.125rem $border--checkbox;
    margin-right: vr(2);
    width: 2.25rem;
    height: 2.25rem;

    .search-page__filters & {
      border-width: 0.0625rem;
      margin-right: vr(1);
      width: 1.5rem;
      height: 1.5rem;
    }

    &.is-selected {
      &:before {
        @include fa-icon;
        content: '\f00c';
        font-size: 1.5rem;
        vertical-align: super;

        .search-page__filters & {
          font-size: 1rem;
        }
      }
    }
  }
}
