@include b(footer) {
  background-color: $navy-blue;
  color: $white;

  @include e(body) {
    padding-top: vr(2);
    padding-bottom: vr(2);
  }

  @include e(footer) {
    background-color: $teal;
  }

  @include e(inner) {
    margin: 0 auto;
    width: $main__width;

    @include mobile-container;
  }

  @include e(items) {
    @media (min-width: $break__desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  @include e(item) {
    &:first-child {
      margin-bottom: vr(4);
    }

    @media (min-width: $break__desktop) {
      &:first-child {
        margin-bottom: 0;

        flex: 0 0 calc(55% - 2.5rem);
      }

      &:last-child {
        flex: 0 0 calc(45% - 2.5rem);
      }
    }
  }

  @include e(columns) {
    padding: vr(2) 0;

    display: flex;

    @include only-mobile {
      padding: 0;
    }
  }

  @include e(column) {
    flex: 1 1 auto;

    &:first-child {
      margin-right: vr(3);

      .footer__item:first-child & {
        border-right: 1px solid $white;
        margin-right: vr(1.5);
        padding-right: vr(1.5);

        flex: 0 0 130px;
      }
    }
  }

  @include e(logo-link) {
    display: block;
  }

  @include e(logo) {
    width: 8.125rem;
    height: 3.375rem;

    display: block;
  }

  @include e(title) {
    @include font(footer-title);
    margin-bottom: vr(1.5);

    @include m(small) {
      @include font(footer-body);
      margin-bottom: vr(.5);
    }
  }

  @include e(text) {
    @include font(footer-body);
    margin: 0;

    @include m(no-wrap) {
      white-space: nowrap;
    }
  }

  @include e(link) {
    @include font(footer-body);
    margin: 0;
  }

  @include e(partners-items) {
    @include list;
    margin-bottom: vr(4);

    display: flex;
  }

  @include e(partners-item) {
    list-style-type: none;

    &:not(:last-child) {
      margin-right: vr(2);
    }
  }

  @include e(partners-logo) {
    width: 100%;
    max-width: 100px;

    display: block;
  }

  @include e(footer) {
    padding-top: vr(2);
    padding-bottom: vr(2);
  }

  @include e(copyright-items) {
    display: flex;
  }

  @include e(copyright-item) {
    &:not(:last-child) {
      border-right: 1px solid $white;
      margin-right: vr(1);
      padding-right: vr(1);
    }
  }

  @include e(copyright-link) {
    @include font(footer-body);
    color: currentColor;

    &:hover {
      color: currentColor;
    }
  }
}
