@include b(footer) {
  background-color: $navy-blue;
  color: $white;

  @include e(content) {
    @include outer-container;
    overflow: hidden;

    width: $main__width;
    margin: auto;
    padding-top: vr(2);

    @include mobile-container;
  }

  @include e(navigation) {
    background-color: $prussian-blue;
    line-height: vr(2);
  }

  @include e(navigation-inner) {
    width: $main__width;
    padding: vr(1.333333) 0;
    margin: auto;

    @include only-mobile {
      width: 87%;
    }
  }

  @include e(navigation-link) {
    @include font(footer-top);
    margin-right: vr(3);

    @include only-mobile {
      display: block;
    }
  }

  @include e(columns) {
    padding: vr(2) 0;
    border-bottom: solid 2px $border--footer;

    @include only-mobile {
      padding: 0;
    }
  }

  @include e(column) {
    @include only-mobile {
      margin: vr(2) 0;
    }
    @include only-desktop {
      @include m(large) {
        @include span-columns(4);
        margin-right: vr(5.25);
      }
      @include m(small) { @include span-columns(2); }
      margin-right: vr(4.25);
    }
  }

  @include e(column-title) {
    @include font(footer-title);
    margin-bottom: 0;

    @include m(big) {
      @include font(footer-title-big);
    }

    @include m(push-top) {
      margin-top: vr(1);
    }
  }

  @include e(column-body) {
    @include font(footer-body);
    margin-top: vr(.75);

    @include m(no-margin) {
      margin-top: 0;
    }
  }

  @include e(copyright) {
    @include font(copyright);
  }

  @include e(social) {
    @include font(social);
  }

  @include e(wcmc-logo) {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: image-url("UNEP-WCMC-logo@2x.png");
    background-image: -webkit-image-set(
      image-url("UNEP-WCMC-logo.png") 1x,
      image-url("UNEP-WCMC-logo@2x.png") 2x
    );

    display: block;
    float: left;
    height: 22px;
    width: 50px;
    margin-top: -2px;
  }
}
