@include b(framework) {
  @include outer-container;

  @include e(diagram) {
    @include span-columns(6);
    @include only-mobile {
      @include span-columns(12);
    }
  }

  @include e(title) {
    h3 {
      cursor: pointer;
      border-bottom: none !important;

      &:before {
        content: "\f054";
        font-family: FontAwesome;
        font-weight: 100;
        margin-right: 4px;
        font-size: vr(1);
        vertical-align: middle;
      }

      &:hover { text-decoration: underline; }
    }

    @include span-columns(6);
    @include only-mobile {
      @include span-columns(12);
    }
  }
}
