@include b(header) {
  margin-bottom: vr(1.75);

  @include e(content) {
    p { color: $white; }

    width: $main__width;
    margin: auto;
    overflow: hidden;

    @include only-print {
      width: 100%;
      padding: 0 2rem;
    }

    @include only-mobile {
      width: 100%;
      padding: 0 vr(1.75);
    }
  }

  @include e(top) {
    background-color: $white;
  }

  @include e(bottom) {
    background-color: $prussian-blue;
  }

  @include e(element) {
    margin: vr(1.5) 0;
    line-height: vr(2);
    margin-left: vr(3);

    @include m(title) {
      font-size: 1rem;
      margin: vr(1.25) 0;
    }

    @include m(menu) {
      margin: vr(1.75) 0;
    }
  }

  @include e(menu) {
    text-align: center;

    padding: vr(.25) vr(.75);
    background-color: $prussian-blue;
    border: solid 2px $dark;
    border-radius: 1px;
    color: $white;
    margin: 0;
    font-family: "Open Sans";
  }

  @include e(logo) {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: image-url("bip-logo@2x.jpg");

    display: block;
    float: left;
    height: 44px;
    width: 120px;
    margin: vr(.95) 0;

    @include only-print {
      width: 100px;
    }
  }
}
