@include b(header) {
  margin-bottom: vr(1.75);

  @include e(content) {
    p { color: $white; }

    width: $main__width;
    margin: auto;
    overflow: hidden;

    @include only-mobile {
      width: 100%;
      padding: 0 vr(1.75);
    }
  }

  @include e(top) {
    background-color: $white;
  }

  @include e(bottom) {
    background-color: $prussian-blue;
  }

  @include e(element) {
    margin: vr(1.5) 0;
    line-height: vr(2);
    margin-left: vr(3);

    @include m(title) {
      font-size: 1rem;
      margin: vr(1.25) 0;
    }

    @include m(menu) {
      margin: vr(1.25) 0;
    }
  }

  @include e(menu) {
    text-align: center;

    padding: vr(.25) vr(.75);
    border: solid 2px $text--menu;
    margin: 0;

    background-color: $white;
  }

  @include e(logo) {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: image-url("bip-logo@2x.jpg");
    background-image: -webkit-image-set(
      image-url("bip-logo.jpg") 1x,
      image-url("bip-logo@2x.jpg") 2x
    );

    display: block;
    float: left;
    height: 50px;
    width: 120px;
    margin: vr(.75) 0;
  }
}
