@include b(homepage-targets) {
  margin-bottom: vr(20);

  @include e(header) {
    margin-bottom: vr(4);

    display: flex;
    align-items: center;

    @include only-mobile {
      margin-bottom: vr(2);
    }
  }

  @include e(icon) {
    margin-right: 1.5rem;
    width: 9.25rem;
    height: 9.25rem;

    display: block;

    @include only-mobile {
      display: none;
    }

    @include m(round) {
      border-radius: 100%;
    }
  }

  @include e(logo) {
    margin-right: 1.5rem;
    height: vr(8);

    display: block;

    @include only-mobile {
      display: none;
    }

    @include m(rounded) {
      border-radius: 50%;
    }
  }

  @include e(title) {
    @include font(goal-title);
  }

  @include e(label) {
    @include font(goal-label);
    margin-bottom: 0.75rem;

    display: block;
  }

  @include e(body) {
    @include outer-container;
  }

  @include e(listing-items) {
    margin: 0;
    padding: 0;
  }

  @include e(listing-item) {
    list-style-type: none;

    &:not(:last-child) {
      margin-bottom: vr(2);
    }
  }

  @include e(card) {
    background-color: $white-two;
    padding: vr(4);

    @include only-mobile {
      padding: vr(2);
    }
  }

  @include e(card-header) {
    margin-bottom: vr(1.5);
  }

  @include e(card-icon) {
    margin-right: vr(1);

    img {
      width: vr(5);
      height: vr(5);
    }
  }

  @include e(card-title) {
    @include font(indicator-card-title);
    margin-bottom: vr(1.5);
  }

  @include e(card-description) {
    * {
      font-size: 1rem;
      line-height: 1.4;
    }

    p {
      margin-top: 0;
      margin-bottom: vr(1.5);
    }
  }

  @include e(card-heading) {
    @include font(indicator-card-heading);
    margin-bottom: 1rem;
  }

  @include e(card-indicator-items) {
    margin: 0;
    padding: 0;

    @include m(two-col) {
      column-count: 2;
      column-gap: vr(6);

      @include only-mobile {
        column-count: 1;
      }
    }
  }

  @include e(card-indicator-item) {
    list-style-type: none;

    &:not(:last-child) {
      margin-bottom: vr(1);
    }
  }

  @include e(card-indicator) {
    @include font(target-indicator);
    text-decoration: none;

    display: block;

    @include m(bold) {
      @include text(normal, bold);
      text-decoration: none;
    }
  }

  @include e(card-indicator-icon) {
    color: $teal;
    font-size: vr(1);
    margin-left: vr(.5);
    vertical-align: middle;
  }
}
