@include b(homepage-targets) {
  margin-bottom: vr(20);

  @include e(header) {
    margin-bottom: vr(4);

    display: flex;
    align-items: center;

    @include only-mobile {
      margin-bottom: vr(2);
    }
  }

  @include e(icon) {
    margin-right: 1.5rem;
    width: 9.25rem;
    height: 9.25rem;

    display: block;

    @include only-mobile {
      display: none;
    }
  }

  @include e(logo) {
    margin-right: 1.5rem;
    height: vr(8);

    display: block;

    @include only-mobile {
      display: none;
    }

    @include m(rounded) {
      border-radius: 50%;
    }
  }

  @include e(title) {
    @include font(goal-title);
  }

  @include e(label) {
    @include font(goal-label);
    margin-bottom: vr(1);

    display: block;
  }

  @include e(body) {
    @include outer-container;
  }

  @include e(listing-items) {
    @include list;
  }

  @include e(listing-item) {
    @include list-item;
  }

  @include e(card) {
    @include listing-card;
    padding: vr(4);

    @include only-mobile {
      padding: vr(2);
    }
  }

  @include e(card-container) {
    @include listing-card-container;
  }

  @include e(card-header) {
    @include listing-card-header;
  }

  @include e(card-icon) {
    @include listing-card-icon;
  }

  @include e(card-title) {
    @include listing-card-title;
  }

  @include e(card-description) {
    @include listing-card-text;
  }

  @include e(card-heading) {
    @include listing-card-heading;
  }

  @include e(card-indicator-items) {
    @include listing-card-indicator-items;
  }

  @include e(card-indicator-item) {
    @include listing-card-indicator-item;
  }

  @include e(card-indicator) {
    @include listing-card-link;

    @include m(bold) {
      @include text(normal, bold);
      text-decoration: none;
    }
  }
}
