@include b(homepage-targets) {
  margin-bottom: vr(20);

  @include e(header) {
    margin-bottom: vr(2.5);

    display: flex;
    align-items: center;
  }

  @include e(icon) {
    margin-right: 1.5rem;
    width: 9.25rem;
    height: 9.25rem;

    display: block;

    @include only-mobile {
      width: vr(3);
      height: vr(3);
    }

    @include m(round) {
      border-radius: 100%;
    }
  }

  @include e(title) {
    @include font(goal-title);
  }

  @include e(description) {
    @include font(goal-description);
    margin-top: 0.75rem;

    display: block;
  }


  @include e(body) {
    @include outer-container;
  }

  @include e(target-items) {
    margin: 0;
    padding: 0;
  }

  @include e(target-item) {
    list-style-type: none;
  }

  @include e(target) {
    @include span-columns(4);
    @include omega(3n);
    margin-bottom: vr(2);

    @include only-mobile {
      @include span-columns(12);
    }
  }

  @include e(target-header) {
    @include flexbox;
    @include align-items(stretch);
    margin-bottom: vr(1.5);
  }

  @include e(target-subheader) {
    font-family: Merriweather;
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: 900;
    line-height: 1.25;
    color: $prussian-blue;
  }

  @include e(target-icon) {
    margin-right: vr(1);
    img {
      height: vr(5);
      width: vr(5);
    }
  }

  @include e(target-title) {
    @include text(normal-2, bold);
  }

  @include e(target-name) {
    @include text(normal-2);
    color: $text--menu;
    margin: 0;
  }

  @include e(target-description) {
    margin: vr(1.5) 0;
    margin-bottom: 2px;
  }

  @include e(target-indicator) {
    display: block;
    margin: vr(1) 0;
    text-decoration: underline;
    @include font(target-indicator);

    @include m(bold) {
      @include text(normal, bold);
      text-decoration: none;
    }
  }
}
