@include b(homepage-join-bip) {
  @include outer-container;
  background-image: image-url("join-bip-background.png");
  margin-bottom: rem-calc(78);
  padding: rem-calc(97 72);
  width: $main__width;

  @include e(title) {
    @include font(join-bip-title);
    margin-bottom: rem-calc(24);
  }
  
  @include e(text) {
    @include font(join-bip-text);
    margin-bottom: rem-calc(24 + 11.5);
  }
  
  @include e(learn-more-link) {
    @include font(join-bip-text);
    background: #004f77;
    border-radius: rem-calc(24);
    padding: rem-calc(11.5 100.5);
    
    &:hover {
      @include font(join-bip-text);
      background: #4A9CAC;
      text-decoration: none;
      cursor: pointer;
    }
  }

  @include only-mobile {
    width: 87%;
  }
}