@include b(home-hero) {
  background-image:
    $background-gradient,
    image-url("home-hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  @include e(container) {
    @include mobile-container;
    @include outer-container;
    padding: vr(6) 0 vr(4);
    width: $main__width;
  }

  @include e(content) {
    @include span-columns(12);

    @media (min-width: $break__desktop) {
      @include span-columns(8);
    }
  }

  @include e(title) {
    @include font(hero-title);
    color: currentColor;
  }

  @include e(text) {
    * {
      color: currentColor;
    }
  }

  @include e(search) {
    @include search;
  }

  @include e(search-bar) {
    @include search-bar;
    width: 100%;
  }

  @include e(search-bar-icon) {
    color: $white;
  }

  @include e(search-bar-submit) {
    position: absolute;
    top: 50%;
    left: 93%;

    transform: translateY(-50%);

    @include only-mobile {
      right: vr(1);
      left: initial;
    }
  }
}
