@include b(homepage) {
  @include e(hero-text) {
    overflow: hidden;

    p {
      margin: vr(1.3333333) 0;
    }
  }

  @include e(search-container) {
    background-color: $white-two;
    width: 100%;
  }
}
