@include b(homepage-themes) {
  margin-bottom: vr(20);

  @include only-mobile {
    margin-bottom: vr(8);
  }

  @include e(theme-name) {
    @include text(xlarge, bold);
    margin-bottom: vr(.75);
  }

  @include e(theme-description) {
    @include font(body);
    margin-top: 0;
    margin-bottom: vr(2);
  }

  @include e(theme-indicator) {
    display: block;
    @include text(normal);
    margin: vr(1) 0;
    text-decoration: underline;

    @include m(bold) {
      @include text(normal, bold);
      text-decoration: none;
    }
  }

  @include e(theme-indicator-icon) {
    margin-right: vr(.25);
    vertical-align: middle;
    font-size: vr(.75);
  }
}
