@include b(mea) {
  display: table;
  vertical-align: top;
  table-layout: fixed;
  border-collapse: collapsed;

  margin: vr(2.5) 0;

  @include e(container) {
    padding: vr(.5) 0;
  }

  @include e(image) {
    vertical-align: top;
    width: vr(5);
    img { width: 100%; }
  }

  @include e(body) {
    padding-left: vr(2.5);
  }

  @include e(title) {
    @include text(xlarge, thin);
  }

  @include e(description) {
    margin-top: vr(.5);
    margin-bottom: vr(1);
  }
}
