@include b(mobile-menu) {
  background-color: $prussian-blue;
  padding: vr(1.25) 0;
  width: 100%;

  @media (min-width: $break__desktop) {
    display: none;
  }

  @include e(body) {
    margin: 0 auto;
    width: $main__width;

    @include mobile-container;
  }

  @include e(navigation-items) {
    margin: 0;
    padding: 0;
  }

  @include e(navigation-item) {
    list-style-type: none;
  }

  @include e(navigation-link) {
    @include font(mobile-menu);
    display: block;
  }
}
