@include b(newsletter-bar) {
  background-image:
    linear-gradient(to bottom, rgba(0, 19, 81, 0.65), rgba(0, 19, 81, 0.65)),
    image-url("newsletter-bar-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  @include e(container) {
    @include mobile-container;
    @include outer-container;
    padding: vr(6) 0 vr(4);
    width: $main__width;
  }

  @include e(input) {
    background-color: rgba($white, 0.25);
    border: solid 1px $white;
    border-radius: 25px;
    color: currentColor;
    font-size: vr(1.1666666);
    font-weight: 600;
    margin: 0;
    padding: vr(.75) vr(1);
    width: vr(35);

    &::-webkit-input-placeholder { color: currentColor; }
    &::-moz-placeholder          { color: currentColor; }
    &:-ms-input-placeholder      { color: currentColor; }
    &:-moz-placeholder           { color: currentColor; }
  }
}
