@include b(page) {
  @include outer-container;
  margin-bottom: vr(10);

  @include e(title) {
    margin-top: vr(2);
    border-bottom: solid 4px $border--title;
    padding: vr(1) 0;
    margin-bottom: vr(1.5);
  }

  @include e(body) {
    padding-left: 1px;
    @include span-columns(8);
    border-right: solid 1px $border--title;
    margin-right: vr(2.75);
    padding-right: vr(2.25);
  }

  @include e(aside) {
    width: 30.96%;
    float: left;
  }

  @include e(aside-section) {
    padding: vr(2) vr(.25);
    &:not(:last-child) { border-bottom: solid 2px $border--title; }
  }

  @include e(aside-link) {
    font-weight: 500;
    text-decoration: underline;
  }

  @include e(section-title) {
    margin-top: vr(2);
    border-bottom: solid 2px $border--title;
    padding: vr(1) 0;

    @include m(subtle-border) {
      border-bottom: solid 1px $border--title;
    }
  }

  @include e(section-toggle) {
    color: $text--link;
    cursor: pointer;
    float: right;
    @include text(normal, bold);
    line-height: vr(2.8333333);
  }

  @include e(subsection-title) {
    @include text(xlarge, thin);
    margin-top: vr(2);
    border-bottom: solid 1px $border--title;
  }

  @include e(subsection-image) {
    margin-right: vr(2.5);
  }

}
