@include b(page) {
  @include outer-container;
  margin-bottom: vr(10);

  @include e(title) {
    @include font(page-title);
    margin-top: vr(2);
    margin-bottom: vr(2.5);

    @include only-mobile {
      margin: 0;
      padding: vr(1) 0;
    }

    @include m(thin) {
      font-weight: 500;
    }
  }

  @include e(body) {
    padding-left: 1px;
    @include span-columns(8);
    padding-right: vr(2.25);

    @include m(full) {
      @include span-columns(12);
    }

    @include only-print {
      display: block;
      float: none;
      width: 100%;
    }

    @include only-mobile {
      margin-right: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  @include e(aside) {
    background-color: $white-two;
    padding: 0 vr(2);
    width: 30.96%;
    float: left;

    @include only-print {
      width: 100%;
      padding: 0;
      background-color: $white;
    }

    @include only-mobile {
      width: 100%;
    }
  }

  @include e(aside-section) {
    padding: vr(2) vr(.25);
    &:not(:last-child) { border-bottom: solid 0.125rem $border--title; }

    @include only-mobile {
      padding: vr(.75) 0;
      border-bottom: solid 0.0625rem $border--title;
    }

    @include only-mobile {
      @include m(last-mobile) {
        margin-top: vr(1.5);
        border-bottom: none;
      }
    }
  }

  @include e(aside-section-title) {
    @include font(aside-section-title);
    margin-bottom: vr(1.5);
  }

  @include e(aside-section-subtitle) {
    @include font(fact-subtitle);
    margin-top: vr(2.5);
  }

  @include e(section) {
    page-break-inside: avoid;
    margin-bottom: vr(3.5);

    @include only-mobile {
      margin-bottom: vr(2);
    }
  }

  @include e(section-title) {
    margin-top: vr(2);
    padding-bottom: vr(.75);

    @include font(section-title);

    @include only-mobile {
      padding: 0;
      margin: vr(1) 0;
    }

    @include only-desktop {
      border-bottom: solid 0.125rem $pinkish-grey;
    }

    @include m(subtle-border) {
      border-bottom-width: 1px;
    }

    @include only-mobile {
      @include m(no-margin-top-mobile) {
        margin-top: 0;
        padding: 0;
      }
    }

    @include m(smaller-mobile) {
      @include only-mobile {
        @include text(normal, bold);
        line-height: vr(2.5);
        margin-top: 5px;
        padding: 0;
      }
    }

    @include m(with-padding-mobile) {
      @include only-mobile {
        padding: vr(1) 0;
        margin: 0;
        margin-top: vr(.25);
      }
    }
  }

  @include e(section-toggle) {
    cursor: pointer;
    float: right;
    @include font(italic-link);
  }

  @include e(subsection-title) {
    @include font(subsection-title);
    margin-top: vr(2);
    padding-bottom: vr(.333333);
    border-bottom: solid 0.0625rem $border--title;
  }

  @include m(no-margin-bottom) {
    margin-bottom: 0;
  }
}
