@include b(pagination) {
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-end);

  margin-top: vr(4);

  @include only-mobile {
    @include align-items(flex-end);
    @include flex-direction(column);
  }

  @include e(per-page) {
    @include flexbox;
    @include align-items(center);
    
    @include only-mobile {
      margin-bottom: vr(1);
    }

    @include only-desktop {
      margin-right: vr(1);
    }
  }

  @include e(per-page-text) {
    @include font(pagination-per-page);
    float: left;
    margin-right: vr(1);
  }

  @include e(per-page-select) {
    @include text(normal);
    // reset select
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: none;
    border: solid 1px $teal;
    border-radius: 0;
    cursor: pointer;
    padding: vr(1) vr(3) vr(1) vr(1);
  }

  @include e(per-page-arrow) {
    pointer-events: none;

    position: absolute;
    top: 50%;
    right: vr(1);

    transform: translateY(-60%);
  }

  @include e(page-count-text) {
    @include font(pagination-page-count);
    margin-right: vr(1);
  }

  @include e(navigation-control) {
    background-color: $prussian-blue;
    color: $white;
    width: vr(4);
    height: vr(4);

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
