@include b(pagination) {
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-end);

  margin-top: vr(4);

  @include only-mobile {
    @include align-items(flex-end);
    @include flex-direction(column);
  }

  @include e(per-page) {
    @include flexbox;
    @include align-items(center);
    
    @include only-mobile {
      margin-bottom: vr(1);
    }

    @include only-desktop {
      margin-right: vr(1);
    }
  }

  @include e(per-page-text) {
    @include font(pagination-per-page);
    float: left;
    margin-right: vr(1);
  }

  @include e(page-count-text) {
    @include font(pagination-page-count);
    margin-right: vr(1);
  }

  @include e(navigation) {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-end);
  }

  @include e(navigation-control) {
    background-color: $prussian-blue;
    color: $white;
    margin-right: vr(5/12);
    width: vr(4);
    height: vr(4);

    display: inline-block;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &::after {
      @include icon-dropdown-arrow-white;
      width: 1rem; height: 0.5625rem;
      content: '';
      
      position: absolute;
      top: 50%;
      left: 50%;    
    }

    @include m(backwards) {
      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    @include m(forwards) {
      &::after {
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }
  }
}
