@include b(partners-page) {
  @include outer-container;
  padding-top: vr(2);

  @include e(partner) {
    border-bottom: solid 1px $border--title;

    @include only-desktop {
      @include outer-container;
      padding: vr(2);

      &:nth-child(2n+1) {
        clear: left;
      }
    }


    @include only-mobile {
      @include span-columns(12);
      padding-bottom: vr(1.5);
      margin-bottom: vr(3);
    }
  }
}
