@include b(partners) {
  @include e(partner) {
    margin-bottom: vr(3);
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    vertical-align: top;

    td { vertical-align: top; }

    h2 + & {
      margin-top: vr(.5);
    }

    &:last-child {
      margin-bottom: vr(1);
    }
  }

  @include e(image) {
    width: vr(5.75);
    height: vr(5.75);
    margin-right: vr(2.33333333);

    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    background-color: $white;
    padding: vr(.75);

    @include m(large) {
      width: vr(10);
      height: vr(10);
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  @include e(name) {
    @include font(partner-name);
    margin-top: 0;
    margin-bottom: vr(1);
  }

  @include e(link) {
    margin-top: vr(1);
    margin-bottom: 0;
    @include font(italic-link);

  }
}
