@include b(search-page) {
  @include listing-page;

  @include e(filters) {
    @include listing-page-filters;
  }

  @include e(body) {
    @include listing-page-list;
  }
  

  @include e(summary) {
    @include font(search-no-results);
    padding: vr(1) 0 vr(2.5);
    margin: 0 0 vr(5/3);
    border-bottom: solid 0.125rem $border--title;
  }

  @include e(no-results) {
    @include font(search-no-results);
  }

  @include e(results) {
    @include list;
  }

  @include e(result) {
    @include list-item;
  }

  @include e(card) {
    @include listing-card;
    padding: vr(2);
  }

  @include e(card-container) {
    @include listing-card-container;
  }

  @include e(card-title) {
    @include listing-card-title;
  }

  @include e(card-text) {
    margin-bottom: vr(2);

    p {
      @include listing-card-text;
    }
  }

  @include e(card-link-footer) {
    @include listing-card-footer;
  }

  @include e(card-link) {
    .search-page__results & {
      @include listing-card-link;
    }

    @include m(download) {
      @include button_text_with_icon;
    }

    @include m(external-link) {
      @include button_text_with_icon;
    }
  }

  @include e(card-tag) {
    @include listing-card-tag;
  }
}
