@include b(search-page) {
  @include e(summary) {
    padding-top: vr(1);
    padding-bottom: vr(2.5);
    margin: 0;
    margin-bottom: vr(1.666666);
    border-bottom: solid 2px $border--title;
    @include font(search-result-title);
    line-height: 1.125rem;
  }

  @include e(result) {
    @include listing-card;
  }

  @include e(result-container) {
    @include listing-card-container;
  }

  @include e(result-title) {
    @include listing-card-title;
  }

  @include e(result-link) {
    @include listing-card-link;
  }

  @include e(result-tag) {
    background-color: $solitude;

    font-weight: 300;
    text-align: center;

    float: left;
    padding: vr(.75) vr(1);
    margin-right: vr(1);
    margin-bottom: vr(1);
  }
}
