$select-arrow-width: 1.125rem;
$select-padding-right: vr(1.5);
$select-padding-right-with-arrow: 2 * $select-padding-right + $select-arrow-width;
$select-padding: vr(1) $select-padding-right-with-arrow vr(1) vr(2);

.select-wrapper {
  width: 19.125rem;
  
  position: relative;

  &::after {
    @include icon-dropdown-arrow;
    content: '';
    
    position: absolute;
    right: $select-padding-right;
    top: 50%;
  
    transform: translateY(-50%);
  }

  select {
    /*To remove button from Firefox, Safari, Chrome, Edge*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
  
    /*To remove button from IE11*/
    &::-ms-expand {
      display: none;
    }

    @include font(select);

    background-color: $white;
    border-radius: 1.5rem;
    border: 1px solid $teal;
    cursor: pointer;
    padding: $select-padding;
    width: 100%;
  }
}



