@include b(targets-browse) {
  @include outer-container;
  width: $main__width;

  @include e(goals-container) {
    border-bottom: solid 1px $border--title;
    margin-bottom: vr(3);
  }

  @include e(goals) {
    overflow: hidden;
    padding: vr(1.875) 0;
    margin-left: vr(-.75);
  }

  @include e(goal) {
    float: left;
    height: vr(3);
    padding-right: vr(1.875);
    margin-right: vr(1);
    margin-bottom: vr(2);
    &:not(:last-child) {
      border-right: solid 1px $border--targets;
    }
  }

  @include e(goal-title) {
    float: left;
    cursor: pointer;
    @include text(normal, bold);
    padding: vr(.75) vr(1);
    margin-right: vr(1);
    height: vr(3);

    &.is-selected {
      background-color: $border--title;
    }
  }

  @include e(target-icon) {
    width: vr(3);
    height: vr(3);
    box-sizing: content-box;
    border-radius: vr(.5);
    overflow: hidden;
    margin-left: vr(1);
    cursor: pointer;

    img { width: 100%; }

    &.is-selected {
      border: solid 5px $border--title;
      margin-top: -5px;
    }
    &.is-selected ~ & {
      margin-top: -5px;
    }
  }
}
