@include b(targets-browse) {
  @include outer-container;
  width: $main__width;

  @include only-mobile {
    width: 87%;
  }

  @include e(goals-container) {
    border-bottom: solid 1px $border--title;
    margin-bottom: vr(3);
  }

  @include e(goals) {
    overflow: hidden;
    padding: vr(1.875) 0;
    margin-left: vr(-.75);
  }

  @include e(goal) {
    @include omega(2n);
    float: left;
    margin-bottom: vr(2);

    @include only-desktop {
      height: vr(5);
      padding-right: vr(1.875);
      margin-right: vr(1);
      &:not(:last-child):nth-child(2n+1) {
        border-right: solid 1px $border--targets;
      }
    }

    @include only-mobile {
      float: none;
      height: vr(2);
    }
  }

  @include e(goal-title) {
    float: left;
    cursor: pointer;
    @include text(normal, bold);
    padding: vr(1) vr(1);
    margin-right: vr(1);
    height: vr(5);
    line-height: vr(2.5);

    @include only-mobile {
      font-size: 12px;
      padding: 5px;
      line-height: 1;
      height: vr(2);
    }

    &.is-selected {
      background-color: $border--title;
    }
  }

  @include e(target-icon) {
    height: vr(5);
    width: vr(5);
    box-sizing: content-box;
    margin-left: vr(1);
    cursor: pointer;
    position: relative;

    @include only-mobile {
      width: vr(2);
      height: vr(2);
    }

    @include m(sdg) {
      width: vr(8);
      height: vr(8);
      margin-bottom: vr(2);
    }

    img { width: 100%; }

    &.is-selected {
      &:after {
        content: "";
        position: absolute;
        border: solid 5px $border--title;
        border-radius: vr(.5);
        top: -5px;
        left: -5px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
