@include b(target) {
  @include m(primary) { margin-top: vr(3); }
  @include m(secondary) { margin-top: vr(1); }
  @include m(secondary-first) { margin-top: vr(1.5); }
  @include m(flex) {
    @include flexbox;
    @include justify-content(stretch);
  }

  @include e(container) {
    @include only-mobile {
      padding-bottom: vr(2.5);
      border-bottom: solid 0.0625rem $border--title;
    }
  }

  @include e(image) {
    img { width: 100%; }

    @include only-desktop {
      margin-right: vr(2.5);
      min-width: vr(5);
    }

    @include only-print {
      width: vr(5.75);
      height: vr(5.75);
    }

    @include only-mobile {
      float: left;
      width: vr(5);
      height: vr(5);

      overflow: hidden;
      margin-right: vr(1);
      margin-bottom: vr(1);
    }

    @include m(round) {
      border-radius: 100%;
    }
  }

  @include e(title) {
    @include font(partner-name);
  }

  @include e(subtitle) {
    margin-left: vr(0.66666);
    font-weight: 300;
    @include m(bold) { font-weight: 700; }
  }

  @include e(body) {
    margin: 0;
  }
}
