@include b(target) {
  @include m(primary) { margin-top: vr(3); }
  @include m(secondary) { margin-top: vr(1); }
  @include m(flex) {
    @include flexbox;
    @include justify-content(stretch);
  }

  @include e(image) {
    margin-right: vr(2.5);
    min-width: vr(5);
    img { width: 100%; }
  }

  @include e(title) {
    @include text(normal, bold);
  }

  @include e(subtitle) {
    margin-left: vr(0.66666);
    font-weight: 300;
    @include m(bold) { font-weight: 700; }
  }

  @include e(body) {
    margin: 0;
  }
}
