@include b(targets-browse) {
  @include outer-container;
  @include mobile-container;
  width: $main__width;

  @include only-mobile {
    width: 87%;
  }

  @include e(header) {
    border-bottom: solid 1px $border--title;
    padding: vr(4) 0;
    margin-bottom: vr(2);
  }

  @include e(title) {
    @include font(targets-browse-title);
    margin-bottom: vr(4);
  }

  @include e(goals-items) {
    margin: 0 0 vr(-2) vr(-2);
    padding: 0;

    display: flex;
    flex-wrap: wrap;
  }

  @include e(goals-item) {
    list-style-type: none;
    margin-left: vr(2);
    margin-bottom: vr(2);
    width: 5.35rem;
    height: 5.35rem;

    position: relative;

    &.is-selected {
      &:after {
        content: "";
        position: absolute;
        border: solid 5px $border--title;
        border-radius: 1px;
        top: -3px;
        left: -3px;
        width: calc(100% + 6px);
        height: calc(100% + 6px);
      }
    }

    @include only-mobile {
      width: vr(2);
      height: vr(2);
    }
  }

  @include e(goal) {
    margin-bottom: vr(2);

    @include only-desktop {
      height: vr(5);
      padding-right: vr(1.875);
    }

    @include only-mobile {
      height: vr(2);
    }
  }

  @include e(goal-title) {
    @include text(normal, bold);
    float: left;
    cursor: pointer;
    padding: vr(1) vr(1);
    margin-right: vr(1);
    height: vr(5);
    line-height: vr(2.5);

    @include only-mobile {
      font-size: 12px;
      padding: 5px;
      line-height: 1;
      height: vr(2);
    }

    &.is-selected {
      background-color: $border--title;
    }
  }

  @include e(target-icon) {
    cursor: pointer;

    img {
      width: 100%;

      display: block;
    }
  }
}
