@include b(themes-browse) {
  @include outer-container;
  @include mobile-container;
  width: $main__width;

  @include e(header) {
    border-bottom: solid 1px $border--title;
    margin-bottom: vr(2);
    padding: vr(4) 0;

    @include only-mobile {
      padding: vr(2) 0;
    }
  }

  @include e(title) {
    @include font(targets-browse-title);

    @include only-mobile {
      font-size: 1.8rem;
    }
  }

  @include e(themes) {
    margin-top: vr(4);

    @include only-mobile {
      margin-top: vr(2);
    }
  }

  @include e(themes-items) {
    margin: 0 0 vr(-2) vr(-2);
    padding: 0;

    display: flex;
    flex-wrap: wrap;

    @include only-mobile {
      margin: 0;

      display: block;
    }
  }

  @include e(themes-item) {
    list-style-type: none;
    width: calc((4 / 12) * 100%);

    display: flex;

    &.is-selected {
      background-color: $solitude;
    }

    @include only-mobile {
      width: 100%;
    }
  }

  @include e(theme) {
    @include flexbox;
    @include align-items(center);
    cursor: pointer;
    margin-right: 0;
    padding: vr(1) vr(1.6666666);

    @include only-mobile {
      width: 100%;
      padding: vr(1) vr(1);
      margin-right: 0;
    }
  }

  @include e(theme-icon) {
    background-color: $white;
    margin-right: vr(.75);
    padding: vr(.75);
    width: vr(5.75);
    height: vr(5.75);

    flex: 0 0 vr(5.75);

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    @include m(rounded) {
      background: none;
      padding: 0;
      width: vr(3);
      height: vr(3);

      flex: 0 0 vr(3);

      img {
        border-radius: 50%;
      }
    }
  }

  @include e(theme-name) {
    @include font(subsection-title);
    line-height: vr(1.6666666);
    margin: vr(.75) 0;
  }
}
