@include b(theme) {
  margin: vr(2) 0;
  width: 50%;
  float: left;
  @include outer-container;
  @include omega(2n);
  @include flexbox;
  @include align-items(stretch);

  @include e(title) {
    @include font(partner-name);
  }

  @include e(image) {
    margin-right: vr(2.5);
    width: vr(5);
    img { width: 100%; }
  }

  @include e(link) {
    display: block;
    @include font(italic-link);
    margin: vr(.75) 0;
  }
}
