<p>
  <strong>Number of biodiversity indicators:</strong><br>
  <%= text_or_na @cms_page.initiative.number_of_indicators %>
</p>

<p>
  <strong>Framework:</strong><br>
  <%= text_or_na @cms_page.initiative.framework %>
</p>
