<main class="main">
  {{ cms:partial:cms/framework_page/title }}
  <div class="page">
    <div class="page__body page__body--full s-free-text s-free-text--with-h1">
      {{ cms:page:introduction:rich_text }}

      {{ cms:partial:cms/framework_page/diagram }}
    </div>

    <div class="modal s-modal" data-modal-target="identify_stakeholders">
      <i class="fa fa-close modal__close" data-modal-close></i>
      <h3 class="modal__title" data-modal-trigger="identify_stakeholders">
        Identify &amp; consult stakeholders/audience
      </h3>
      <div class="modal__content">
        {{ cms:page:identify_stakeholders:rich_text }}
      </div>
    </div>

    <div class="modal s-modal" data-modal-target="identify_management_objectives">
      <i class="fa fa-close modal__close" data-modal-close></i>
      <h3 class="modal__title" data-modal-trigger="identify_management_objectives">
        Identify management objectives &amp; targets
      </h3>
      <div class="modal__content">
        {{ cms:page:identify_management_objectives:rich_text }}
      </div>
    </div>

    <div class="modal s-modal" data-modal-target="determine_key_questions">
      <i class="fa fa-close modal__close" data-modal-close></i>
      <h3 class="modal__title" data-modal-trigger="determine_key_questions">
        Determine key questions &amp; indicator use
      </h3>
      <div class="modal__content">
        {{ cms:page:determine_key_questions:rich_text }}
      </div>
    </div>

    <div class="modal s-modal" data-modal-target="develop_conceptual_model">
      <i class="fa fa-close modal__close" data-modal-close></i>
      <h3 class="modal__title" data-modal-trigger="develop_conceptual_model">
        Develop conceptual model
      </h3>
      <div class="modal__content">
        {{ cms:page:develop_conceptual_model:rich_text }}
      </div>
    </div>

    <div class="modal s-modal" data-modal-target="identify_indicators">
      <i class="fa fa-close modal__close" data-modal-close></i>
      <h3 class="modal__title" data-modal-trigger="identify_indicators">
        Identify possible indicators
      </h3>
      <div class="modal__content">
        {{ cms:page:identify_indicators:rich_text }}
      </div>
    </div>

    <div class="modal s-modal" data-modal-target="gather_and_review_data">
      <i class="fa fa-close modal__close" data-modal-close></i>
      <h3 class="modal__title" data-modal-trigger="gather_and_review_data">
        Gather &amp; review data
      </h3>
      <div class="modal__content">
        {{ cms:page:gather_and_review_data:rich_text }}
      </div>
    </div>

    <div class="modal s-modal" data-modal-target="calculate_indicators">
      <i class="fa fa-close modal__close" data-modal-close></i>
      <h3 class="modal__title" data-modal-trigger="calculate_indicators">
        Calculate indicators
      </h3>
      <div class="modal__content">
        {{ cms:page:calculate_indicators:rich_text }}
      </div>
    </div>

    <div class="modal s-modal" data-modal-target="communicate_indicators">
      <i class="fa fa-close modal__close" data-modal-close></i>
      <h3 class="modal__title" data-modal-trigger="communicate_indicators">
        Communicate &amp; interpret indicators
      </h3>
      <div class="modal__content">
        {{ cms:page:communicate_indicators:rich_text }}
      </div>
    </div>

    <div class="modal s-modal" data-modal-target="test_and_refine_indicators">
      <i class="fa fa-close modal__close" data-modal-close></i>
      <h3 class="modal__title" data-modal-trigger="test_and_refine_indicators">
        Test &amp; refine indicators with stakeholders
      </h3>
      <div class="modal__content">
        {{ cms:page:test_and_refine_indicators:rich_text }}
      </div>
    </div>

    <div class="modal s-modal" data-modal-target="develop_monitoring_systems">
      <i class="fa fa-close modal__close" data-modal-close></i>
      <h3 class="modal__title" data-modal-trigger="develop_monitoring_systems">
        Develop monitoring &amp; reporting systems
      </h3>
      <div class="modal__content">
        {{ cms:page:develop_monitoring_systems:rich_text }}
      </div>
    </div>
  </div>
</main>

